@use '../utilities/functions';
@use '../utilities/mixins';

.cta-banner {
  padding: functions.spacing('xl') functions.spacing('md');
  background: functions.color('accent-background');
  color: functions.color('accent-foreground');
  display: flex;
  flex-direction: column;
  align-items: center;

  &__content {
    max-width: 880px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  &__title {
    margin-bottom: functions.spacing('sm');
  }

  &__description {
    @include mixins.text-large;
    max-width: 560px;
    margin-bottom: functions.spacing('md');
  }
}
